<template>
<div class="container">

         <div class="fdata ">
            <form>
               <div class="form-group">
                   <label for="formdata.child">服務對象:</label>
                   <input  v-model="formdata.child" type="text" class="form-control" id="child">   <!--11.21 add v-model-->
           </div>
            <div class="form-group">
                <label for="formdata.parents">填答人員:</label>
                <input  v-model="formdata.parents" type="text" class="form-control" id="parents">    <!--11.21 add v-model-->
            </div>
             <div class="form-group">
                <label for="formdata.date">日期:</label>
                <input  v-model="formdata.date" type="text" class="form-control" id="date">     <!--11.21 add v-model-->
            </div>
                </form>
            </div>  <br>



 <div class="top_word"> 
    <p >親愛的家長： <br>
                感謝您用心陪伴孩子！為了更了解家長對於孩子在寶貝中心的學習，與所有同仁對家庭的服務狀況，請您協助填答以下問題～
    </p>
 </div>

 <p>填答方式:</p>

 <div class="points_explain"> 
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">分數</th>
      <th scope="col">7</th>
      <th scope="col">6</th>
      <th scope="col">5</th>
      <th scope="col">4</th>
      <th scope="col">3</th>
      <th scope="col">2</th>
      <th scope="col">1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">程度</th>
      <td>全部都能夠</td>
      <td>大部分能夠</td>
       <td>常常能夠</td>
        <td>有時候能夠</td>
         <td>偶爾能夠</td>
          <td>少部份能夠</td>
           <td>完全不能夠</td>
    </tr>  
  </tbody>
</table> 
</div>
<br>
<br>
<div class="firstQ">
<p>1.請問您認為在寶貝中心服務中，家長能夠參與早期療育的所有過程嗎？ 
請依程度填答7~1分。</p>
</div>  <br>





   <!--<div>
    <b-form-group label="Individual radios">
      <b-form-radio v-model="selected" name="radio" value="A">Option A</b-form-radio>
      <b-form-radio v-model="selected" name="radio" value="B">Option B</b-form-radio>
    </b-form-group>
  </div> -->






<div class="firstQA">
    <b-form-radio-group>  

    <p>1.1 請問您有機會參與孩子的評估項目嗎？</p>
    <b-form-radio v-model="formdata.one_one" name="1-1" value="1" > 1 </b-form-radio>
    <b-form-radio v-model="formdata.one_one" name="1-1" value="2" > 2 </b-form-radio>
    <b-form-radio v-model="formdata.one_one" name="1-1" value="3"> 3 </b-form-radio>
    <b-form-radio v-model="formdata.one_one" name="1-1" value="4"> 4 </b-form-radio>
    <b-form-radio v-model="formdata.one_one" name="1-1" value="5"> 5 </b-form-radio>
    <b-form-radio v-model="formdata.one_one" name="1-1" value="6"> 6 </b-form-radio>
    <b-form-radio v-model="formdata.one_one" name="1-1" value="7"> 7 </b-form-radio>
    <br>
    <br>
     </b-form-radio-group>
  


    <b-form-radio-group>
  <p>1.2 請問您有機會提出孩子或家庭的需求與關切事項嗎？</p>
  <b-form-radio v-model="formdata.one_two" name="1-2" value="1"> 1 </b-form-radio>
  <b-form-radio v-model="formdata.one_two" name="1-2" value="2"> 2 </b-form-radio>
  <b-form-radio v-model="formdata.one_two" name="1-2" value="3"> 3 </b-form-radio>
  <b-form-radio v-model="formdata.one_two" name="1-2" value="4"> 4 </b-form-radio>
  <b-form-radio v-model="formdata.one_two" name="1-2" value="5"> 5 </b-form-radio>
  <b-form-radio v-model="formdata.one_two" name="1-2" value="6"> 6 </b-form-radio>
  <b-form-radio v-model="formdata.one_two" name="1-2" value="7"> 7 </b-form-radio>
  <br>
  <br>
 </b-form-radio-group>


<b-form-radio-group>
<p>1.3 請問您有機會對於孩子的療育做出自己的決定嗎？</p>
  <b-form-radio v-model="formdata.one_three" name="1-3" value="1"> 1 </b-form-radio>
  <b-form-radio v-model="formdata.one_three" name="1-3" value="2"> 2 </b-form-radio>
  <b-form-radio v-model="formdata.one_three" name="1-3" value="3"> 3 </b-form-radio>
  <b-form-radio v-model="formdata.one_three" name="1-3" value="4"> 4 </b-form-radio>
  <b-form-radio v-model="formdata.one_three" name="1-3" value="5"> 5 </b-form-radio>
  <b-form-radio v-model="formdata.one_three" name="1-3" value="6"> 6 </b-form-radio>
  <b-form-radio v-model="formdata.one_three" name="1-3" value="7"> 7 </b-form-radio>
  <br>
  <br>
</b-form-radio-group>

<b-form-radio-group>
<p>1.4 請問您有機會參與孩子擬定『個別化服務計畫』嗎？</p>
  <b-form-radio v-model="formdata.one_four" name="1-4" value="1"> 1 </b-form-radio>
  <b-form-radio v-model="formdata.one_four" name="1-4" value="2"> 2 </b-form-radio>
  <b-form-radio v-model="formdata.one_four" name="1-4" value="3"> 3 </b-form-radio>
  <b-form-radio v-model="formdata.one_four" name="1-4" value="4"> 4 </b-form-radio>
  <b-form-radio v-model="formdata.one_four" name="1-4" value="5"> 5 </b-form-radio>
  <b-form-radio v-model="formdata.one_four" name="1-4" value="6"> 6 </b-form-radio>
  <b-form-radio v-model="formdata.one_four" name="1-4" value="7"> 7 </b-form-radio>
  <br>
  <br>
</b-form-radio-group>


<b-form-radio-group>
<p>1.5 請問您有機會參與執行孩子『個別化服務計畫』嗎？</p>
  <b-form-radio v-model="formdata.one_five" name="1-6" value="1"> 1 </b-form-radio>
  <b-form-radio v-model="formdata.one_five" name="1-6" value="2"> 2 </b-form-radio>
  <b-form-radio v-model="formdata.one_five" name="1-6" value="3"> 3 </b-form-radio>
  <b-form-radio v-model="formdata.one_five" name="1-6" value="4"> 4 </b-form-radio>
  <b-form-radio v-model="formdata.one_five" name="1-6" value="5"> 5 </b-form-radio>
  <b-form-radio v-model="formdata.one_five" name="1-6" value="6"> 6 </b-form-radio>
  <b-form-radio v-model="formdata.one_five" name="1-6" value="7"> 7 </b-form-radio>
  <br>
  <br>
</b-form-radio-group>



<b-form-radio-group>
<p>1.6 請問您覺得自己清楚孩子整接受早期療育的狀況嗎？</p>
  <b-form-radio v-model="formdata.one_six" name="1-6" value="1"> 1 </b-form-radio>
  <b-form-radio v-model="formdata.one_six" name="1-6" value="2"> 2 </b-form-radio>
  <b-form-radio v-model="formdata.one_six" name="1-6" value="3"> 3 </b-form-radio>
  <b-form-radio v-model="formdata.one_six" name="1-6" value="4"> 4 </b-form-radio>
  <b-form-radio v-model="formdata.one_six" name="1-6" value="5"> 5 </b-form-radio>
  <b-form-radio v-model="formdata.one_six" name="1-6" value="6"> 6 </b-form-radio>
  <b-form-radio v-model="formdata.one_six" name="1-6" value="7"> 7 </b-form-radio>
  <br>
  <br>
</b-form-radio-group>


<b-form-radio-group>
<p>1.7 請問您能夠參與孩子早期療育的過程嗎？</p>
  <b-form-radio v-model="formdata.one_seven" name="1-7" value="1"> 1 </b-form-radio>
  <b-form-radio v-model="formdata.one_seven" name="1-7" value="2"> 2 </b-form-radio>
  <b-form-radio v-model="formdata.one_seven" name="1-7" value="3"> 3 </b-form-radio>
  <b-form-radio v-model="formdata.one_seven" name="1-7" value="4"> 4 </b-form-radio>
  <b-form-radio v-model="formdata.one_seven" name="1-7" value="5"> 5 </b-form-radio>
  <b-form-radio v-model="formdata.one_seven" name="1-7" value="6"> 6 </b-form-radio>
  <b-form-radio v-model="formdata.one_seven" name="1-7" value="7"> 7 </b-form-radio>
  </b-form-radio-group>
</div>
<br>
<br>

   <div class="talk">
    <b-form-textarea  id="textarea"   v-model="formdata.text1"    placeholder="其他想說的話～"   rows="3" max-rows="6"  >
    </b-form-textarea>
  </div>
  <br>
  <br>


<div class="secondQ">
<p>2.請問您認為家長能夠了解並促進孩子的發展嗎？
請依程度填答7~1分。</p>
</div>  <br>

<div class="secondQA">
  <b-form-radio-group>
  <p>2.1 您有機會了解一般孩子在每個年齡該有的發展狀況嗎？</p>
    <b-form-radio v-model="formdata.two_one" name="2-1" value="1"> 1 </b-form-radio>
    <b-form-radio v-model="formdata.two_one" name="2-1" value="2"> 2 </b-form-radio>
    <b-form-radio v-model="formdata.two_one" name="2-1" value="3"> 3 </b-form-radio>
    <b-form-radio v-model="formdata.two_one" name="2-1" value="4"> 4 </b-form-radio>
    <b-form-radio v-model="formdata.two_one" name="2-1" value="5"> 5 </b-form-radio>
    <b-form-radio v-model="formdata.two_one" name="2-1" value="6"> 6 </b-form-radio>
    <b-form-radio v-model="formdata.two_one" name="2-1" value="7"> 7 </b-form-radio>
  <br>
  <br>
</b-form-radio-group>

<b-form-radio-group>
  <p>2.2 請問您有機會了解自己孩子的發展狀況嗎？</p>
    <b-form-radio v-model="formdata.two_two" name="2-2" value="1"> 1 </b-form-radio>
    <b-form-radio v-model="formdata.two_one" name="2-1" value="2"> 2 </b-form-radio>
    <b-form-radio v-model="formdata.two_one" name="2-1" value="3"> 3 </b-form-radio>
    <b-form-radio v-model="formdata.two_one" name="2-1" value="4"> 4 </b-form-radio>
    <b-form-radio v-model="formdata.two_one" name="2-1" value="5"> 5 </b-form-radio>
    <b-form-radio v-model="formdata.two_one" name="2-1" value="6"> 6 </b-form-radio>
    <b-form-radio v-model="formdata.two_one" name="2-1" value="7"> 7 </b-form-radio>
  <br>
  <br>
</b-form-radio-group>


<b-form-radio-group>
<p>2.3 請問您有機會了解如何在日常生活與孩子互動嗎？</p>
  <b-form-radio v-model="formdata.two_three" name="2-3" value="1"> 1 </b-form-radio>
  <b-form-radio v-model="formdata.two_three" name="2-3" value="2"> 2 </b-form-radio>
  <b-form-radio v-model="formdata.two_three" name="2-3" value="3"> 3 </b-form-radio>
  <b-form-radio v-model="formdata.two_three" name="2-3" value="4"> 4 </b-form-radio>
  <b-form-radio v-model="formdata.two_three" name="2-3" value="5"> 5 </b-form-radio>
  <b-form-radio v-model="formdata.two_three" name="2-3" value="6"> 6 </b-form-radio>
  <b-form-radio v-model="formdata.two_three" name="2-3" value="7"> 7 </b-form-radio>
  
  <br>
  <br>
</b-form-radio-group>


<b-form-radio-group>
<p>2.4 請問您有機會了解如何照顧與教養孩子嗎？</p>
  <b-form-radio v-model="formdata.two_four" name="2-4" value="1"> 1 </b-form-radio>
  <b-form-radio v-model="formdata.two_four" name="2-4" value="2"> 2 </b-form-radio>
  <b-form-radio v-model="formdata.two_four" name="2-4" value="3"> 3 </b-form-radio>
  <b-form-radio v-model="formdata.two_four" name="2-4" value="4"> 4 </b-form-radio>
  <b-form-radio v-model="formdata.two_four" name="2-4" value="5"> 5 </b-form-radio>
  <b-form-radio v-model="formdata.two_four" name="2-4" value="6"> 6 </b-form-radio>
  <b-form-radio v-model="formdata.two_four" name="2-4" value="7"> 7 </b-form-radio>
  <br>
  <br>
</b-form-radio-group>

<b-form-radio-group>
<p>2.5 請問您了解自己孩子的發展狀況嗎？</p>
  <b-form-radio v-model="formdata.two_five" name="2-5" value="1"> 1 </b-form-radio>
  <b-form-radio v-model="formdata.two_five" name="2-5" value="2"> 2 </b-form-radio> 
  <b-form-radio v-model="formdata.two_five" name="2-5" value="3"> 3 </b-form-radio>
  <b-form-radio v-model="formdata.two_five" name="2-5" value="4"> 4 </b-form-radio>
  <b-form-radio v-model="formdata.two_five" name="2-5" value="5"> 5 </b-form-radio>
  <b-form-radio v-model="formdata.two_five" name="2-5" value="6"> 6 </b-form-radio>
  <b-form-radio v-model="formdata.two_five" name="2-5" value="7"> 7 </b-form-radio>
  <br>
  <br>
</b-form-radio-group>

<b-form-radio-group>
<p>2.6 請問您了解如何促進孩子發展嗎？</p>
  <b-form-radio v-model="formdata.two_six"   name="2-6" value="1"> 1 </b-form-radio>
  <b-form-radio v-model="formdata.two_five" name="2-5" value="2"> 2 </b-form-radio>
  <b-form-radio v-model="formdata.two_five" name="2-5" value="3"> 3 </b-form-radio>
  <b-form-radio v-model="formdata.two_five" name="2-5" value="4"> 4 </b-form-radio>
  <b-form-radio v-model="formdata.two_five" name="2-5" value="5"> 5 </b-form-radio>
  <b-form-radio v-model="formdata.two_five" name="2-5" value="6"> 6 </b-form-radio>
  <b-form-radio v-model="formdata.two_five" name="2-5" value="7"> 7 </b-form-radio>
  </b-form-radio-group>
</div>
<br>
<br>





   <div class="talk">
    <b-form-textarea  id="textarea"   v-model="formdata.text2"    placeholder="其他想說的話～"   rows="3" max-rows="6"  >
    </b-form-textarea>
  </div>
  <br>
  <br>




<div class="thirdQ">
<p>3.請問您認為家人能夠一起協助孩子的學習與發展嗎？
請依程度填答7~1分。</p>
</div> 
<br>


<div class="thirdQA">
  <b-form-radio-group>
  <p>3.1 家人有機會了解孩子的發展狀況嗎？</p>
    <b-form-radio v-model="formdata.three_one"   name="3-1" value="1"> 1 </b-form-radio>
    <b-form-radio v-model="formdata.three_one"   name="3-1" value="2"> 2 </b-form-radio>
    <b-form-radio v-model="formdata.three_one"   name="3-1" value="3"> 3 </b-form-radio>
    <b-form-radio v-model="formdata.three_one"   name="3-1" value="4"> 4 </b-form-radio>
    <b-form-radio v-model="formdata.three_one"   name="3-1" value="5"> 5 </b-form-radio>
    <b-form-radio v-model="formdata.three_one"   name="3-1" value="6"> 6 </b-form-radio>
    <b-form-radio v-model="formdata.three_one"   name="3-1" value="7"> 7 </b-form-radio>
  
  <br>
  <br>
</b-form-radio-group>

<b-form-radio-group>
  <p>3.2 家人有機會了解在家中如何協助孩子學習嗎？</p>
  <b-form-radio v-model="formdata.three_two"   name="3-2" value="1"> 1 </b-form-radio>
  <b-form-radio v-model="formdata.three_one"   name="3-1" value="2"> 2 </b-form-radio>
  <b-form-radio v-model="formdata.three_one"   name="3-1" value="3"> 3 </b-form-radio>
  <b-form-radio v-model="formdata.three_one"   name="3-1" value="4"> 4 </b-form-radio>
  <b-form-radio v-model="formdata.three_one"   name="3-1" value="5"> 5 </b-form-radio>
  <b-form-radio v-model="formdata.three_one"   name="3-1" value="6"> 6 </b-form-radio>
  <b-form-radio v-model="formdata.three_one"   name="3-1" value="7"> 7 </b-form-radio>
  <br>
  <br>
</b-form-radio-group>

<b-form-radio-group>
<p>3.3 家人有機會了解在家中如何與孩子互動嗎？</p>
  <b-form-radio v-model="formdata.three_three"   name="3-3" value="1"> 1 </b-form-radio>
  <b-form-radio v-model="formdata.three_three"   name="3-3" value="1"> 1 </b-form-radio>
  <br>
  <br>
</b-form-radio-group>

<b-form-radio-group>
<p>3.4家人有機會了解您與孩子需要哪些協助嗎？</p>
<label><input type="radio" name="3-4" checked>1</label> &nbsp;
  <label><input type="radio" name="3-4" checked>2</label> &nbsp;
  <label><input type="radio" name="3-4" checked>3</label>&nbsp;
  <label><input type="radio" name="3-4" checked>4</label>&nbsp;
  <label><input type="radio" name="3-4"checked>5</label>&nbsp;
  <label><input type="radio" name="3-4" checked>6</label>&nbsp;
  <label><input type="radio" name="3-4" checked>7</label>&nbsp;  
  <br>
  <br>
</b-form-radio-group>

<b-form-radio-group>
  <p>3.5 請問您的家人能有一起協助孩子的學習與發展嗎？</p>
<label><input type="radio" name="3-5" checked>1</label> &nbsp;
  <label><input type="radio" name="3-5" checked>2</label> &nbsp;
  <label><input type="radio" name="3-5" checked>3</label>&nbsp;
  <label><input type="radio" name="3-5" checked>4</label>&nbsp;
  <label><input type="radio" name="3-5"checked>5</label>&nbsp;
  <label><input type="radio" name="3-5"checked>6</label>&nbsp;
  <label><input type="radio" name="3-5" checked>7</label>&nbsp;  
  </b-form-radio-group>
</div>
    <br>
    <br>


   <div class="talk">
    <b-form-textarea  id="textarea"   v-model="formdata.text3"    placeholder="其他想說的話～"   rows="3" max-rows="6"  >
    </b-form-textarea>
  </div>
  <br>
  <br>
    

<div class="fourthQ">
<p>4.請問您認為家長能夠建立自己的支持系統嗎？ 
請依程度填答7~1分。</p>
</div>  <br>



<div class="fourthQA">
  <b-form-radio-group>
  <p>4.1 請問您有機會了解自己跟孩子的相關權益嗎？</p>
  <label><input type="radio" name="4-1" checked>1</label> &nbsp;
  <label><input type="radio" name="4-1" checked>2</label> &nbsp;
  <label><input type="radio" name="4-1" checked>3</label>&nbsp;
  <label><input type="radio" name="4-1" checked>4</label>&nbsp;
  <label><input type="radio" name="4-1" checked>5</label>&nbsp;
  <label><input type="radio" name="4-1" checked>6</label>&nbsp;
  <label><input type="radio" name="4-1" checked>7</label>&nbsp;  
  <br>
  <br>
</b-form-radio-group>

<b-form-radio-group>
  <p>4.2 請問您有機會了解相關的早期療育資源嗎？</p>
  <label><input type="radio" name="4-2" checked>1</label> &nbsp;
  <label><input type="radio" name="4-2" checked>2</label> &nbsp;
  <label><input type="radio" name="4-2" checked>3</label>&nbsp;
  <label><input type="radio" name="4-2" checked>4</label>&nbsp;
  <label><input type="radio" name="4-2" checked>5</label>&nbsp;
  <label><input type="radio" name="4-2" checked>6</label>&nbsp;
  <label><input type="radio" name="4-2" checked>7</label>&nbsp;  
  <br>
  <br>
</b-form-radio-group>

<b-form-radio-group>
<p>4.3 請問您有機會參與早期療育團隊的運作嗎？</p>
<label><input type="radio" name="4-3" checked>1</label> &nbsp;
  <label><input type="radio" name="4-3" checked>2</label> &nbsp;
  <label><input type="radio" name="4-3" checked>3</label>&nbsp;
  <label><input type="radio" name="4-3" checked>4</label>&nbsp;
  <label><input type="radio" name="4-3" checked>5</label>&nbsp;
  <label><input type="radio" name="4-3" checked>6</label>&nbsp;
  <label><input type="radio" name="4-3"checked>7</label>&nbsp;  
  <br>
  <br>
</b-form-radio-group>

<b-form-radio-group>
<p>4.4 請問您有機會了解有哪些親朋好友可以協助您嗎？</p>
<label><input type="radio" name="4-4" checked>1</label> &nbsp;
  <label><input type="radio" name="4-4" checked>2</label> &nbsp;
  <label><input type="radio" name="4-4"checked>3</label>&nbsp;
  <label><input type="radio" name="4-4" checked>4</label>&nbsp;
  <label><input type="radio" name="4-4" checked>5</label>&nbsp;
  <label><input type="radio" name="4-4" checked>6</label>&nbsp;
  <label><input type="radio" name="4-4" checked>7</label>&nbsp;  
  <br>
  <br>
</b-form-radio-group>

<b-form-radio-group>
  <p>4.5 請問您有機會帶著孩子參與自己想要參加的活動嗎？</p>
<label><input type="radio" name="4-5" checked>1</label> &nbsp;
  <label><input type="radio" name="4-5" checked>2</label> &nbsp;
  <label><input type="radio" name="4-5" checked>3</label>&nbsp;
  <label><input type="radio" name="4-5" checked>4</label>&nbsp;
  <label><input type="radio" name="4-5" checked>5</label>&nbsp;
  <label><input type="radio" name="4-5" checked>6</label>&nbsp;
  <label><input type="radio" name="4-5" checked>7</label>&nbsp;  
  <br>
  <br>
</b-form-radio-group>

<b-form-radio-group>
<p>4.6 請問您有機會跟其他類似狀況的家長談談嗎？</p>
<label><input type="radio" name="4-6" checked>1</label> &nbsp;
  <label><input type="radio" name="4-6"checked>2</label> &nbsp;
  <label><input type="radio" name="4-6" checked>3</label>&nbsp;
  <label><input type="radio" name="4-6" checked>4</label>&nbsp;
  <label><input type="radio" name="4-6" checked>5</label>&nbsp;
  <label><input type="radio" name="4-6" checked>6</label>&nbsp;
  <label><input type="radio" name="4-6" checked>7</label>&nbsp;  
  <br>
  <br>
</b-form-radio-group>


<b-form-radio-group>
  <p>4.7 請問您能夠建立自己的支持系統嗎？</p>
<label><input type="radio" name="4-7" checked>1</label> &nbsp;
  <label><input type="radio" name="4-7"  checked>2</label> &nbsp;
  <label><input type="radio" name="4-7"  checked>3</label>&nbsp;
  <label><input type="radio" name="4-7"  checked>4</label>&nbsp;
  <label><input type="radio" name="4-7"  checked>5</label>&nbsp;
  <label><input type="radio" name="4-7"  checked>6</label>&nbsp;
  <label><input type="radio" name="4-7"  checked>7</label>&nbsp;  
  </b-form-radio-group>
</div>
<br>
<br>


   <div class="talk">
    <b-form-textarea  id="textarea"   v-model="formdata.text4"    placeholder="其他想說的話～"   rows="3" max-rows="6"  >
    </b-form-textarea>
  </div>
  <br>
  <br>

<div class="fifthQ">
<p>5.請問您認為家長是否能夠因應或減低自己所面臨的壓力？ 
請依程度填答7~1分。</p>
</div>  <br>

<div class="fifthQA">
  <b-form-radio-group>
  <p>5.1 請問您有機會了解自己照顧小孩承受壓力的狀態嗎？</p>
  <label><input type="radio" name="5-1" value="1" checked>1</label> &nbsp;
  <label><input type="radio" name="5-1" value="2" checked>2</label> &nbsp;
  <label><input type="radio" name="5-1" value="3" checked>3</label>&nbsp;
  <label><input type="radio" name="5-1" value="4" checked>4</label>&nbsp;
  <label><input type="radio" name="5-1" value="5" checked>5</label>&nbsp;
  <label><input type="radio" name="5-1" value="6" checked>6</label>&nbsp;
  <label><input type="radio" name="5-1" value="7" checked>7</label>&nbsp;  
  <br>
  <br>
</b-form-radio-group>


<b-form-radio-group>
  <p>5.2 請問您有機會了解自己照顧小孩具備哪些優勢嗎？</p>
  <label><input type="radio" name="5-2" checked>1</label> &nbsp;
  <label><input type="radio" name="5-2" checked>2</label> &nbsp;
  <label><input type="radio" name="5-2" checked>3</label>&nbsp;
  <label><input type="radio" name="5-2" checked>4</label>&nbsp;
  <label><input type="radio" name="5-2" checked>5</label>&nbsp;
  <label><input type="radio" name="5-2" checked>6</label>&nbsp;
  <label><input type="radio" name="5-2" checked>7</label>&nbsp;  
  <br>
  <br>
</b-form-radio-group>


<b-form-radio-group>
<p>5.3 請問您有機會了解如何因應自己的壓力嗎？</p>
<label><input type="radio" name="5-3" checked>1</label> &nbsp;
  <label><input type="radio" name="5-3" checked>2</label> &nbsp;
  <label><input type="radio" name="5-3" checked>3</label>&nbsp;
  <label><input type="radio" name="5-3" checked>4</label>&nbsp;
  <label><input type="radio" name="5-3" checked>5</label>&nbsp;
  <label><input type="radio" name="5-3" checked>6</label>&nbsp;
  <label><input type="radio" name="5-3" checked>7</label>&nbsp;  
  <br>
  <br>
</b-form-radio-group>


<b-form-radio-group>
<p>5.4 請問您能夠因應或減少自己所面臨的壓力嗎？</p>
<label><input type="radio" name="5-4" checked>1</label> &nbsp;
  <label><input type="radio" name="5-4" checked>2</label> &nbsp;
  <label><input type="radio" name="5-4" checked>3</label>&nbsp;
  <label><input type="radio" name="5-4" checked>4</label>&nbsp;
  <label><input type="radio" name="5-4" checked>5</label>&nbsp;
  <label><input type="radio" name="5-4" checked>6</label>&nbsp;
  <label><input type="radio" name="5-4" checked>7</label>&nbsp;  
  </b-form-radio-group>
</div>
<br>
<br>


   <div class="talk">
    <b-form-textarea  id="textarea"   v-model="formdata.text5"    placeholder="其他想說的話～"   rows="3" max-rows="6"  >
    </b-form-textarea>
  </div>
  <br>
  <br>



<div class="sixthQ">
<p>6.請問您希望獲得哪些相關活動 課程及資訊呢?</p>
</div><br>


<div class="sixthQA">
    <p>您希望寶貝中心辦理～</p>
    <b-form-radio-group>
       <label><input type="radio" name="6-1" checked>辦親職講座內容為          <input type="text" class="6.1" id="">  </label>  <br>
    </b-form-radio-group>

    <b-form-radio-group>
      <label><input type="radio" name="6-2" checked>辦活動例如親子旅遊     <input type="text" class="6.2" id="">  </label>  <br>
    </b-form-radio-group>

    <b-form-radio-group>
      <label><input type="radio" name="6-3" checked>其他     <input type="text" class="6.3" id="">  </label>  <br>
     </b-form-radio-group>
     <br>

    <p>您希望為自己多安排哪些活動～</p>
    
    <b-form-radio-group>
      <label><input type="radio" name="6-4" checked>多上一些課程，內容為  <input type="text" class="6.4" id="">  </label>  <br>
    </b-form-radio-group>
    
    <b-form-radio-group>
      <label><input type="radio" name="6-5" checked>有人指導孩子個別發展領域之學習技巧與訓練，內容為 <input type="text" class="6.5" id="">  </label>  <br>
     </b-form-radio-group>
    
    <b-form-radio-group>
      <label><input type="radio" name="6-6" checked> 多一些自己的時間，可以做  <input type="text" class="6.6" id="">  </label>  <br>
     </b-form-radio-group>

    <b-form-radio-group>
      <label><input type="radio" name="6-7" checked>多一些親子時間，可以做     <input type="text" class="6.7" id="">  </label>  <br>
    </b-form-radio-group>

    <b-form-radio-group>
      <label><input type="radio" name="6-8" checked>需要改善親子關係  </label>  <br>
    </b-form-radio-group>
  
    <b-form-radio-group>
      <label><input type="radio" name="6-9" checked>需要改善與其他家人關係  </label>  <br>
   </b-form-radio-group> 
   
    <b-form-radio-group>
      <label><input type="radio" name="6-10" checked>其他    <input type="text" class="6.10" id="">  </label>  <br>
     </b-form-radio-group>
</div>
<br>

<!--<input  type="submit"  class="submit" value="確定提交"> -->
<div class="d-flex justify-content-center mt-3 login_container">
          <button @click="submit" class="submit">Submit</button>
        </div>
 
<br>
<br>
<p class="end_word">謝謝您的填答，寶貝中心將更努力貼近您～</p>


</div>
</template>

<script>
import firebase from "firebase";
import { fireDb } from "~/plugins/firebase.js";

export default {
  name: "submit",
  data() {
    return {
      formdata:{
        child: "",
        parents: "",
        date: "",
        text1:"",
        one_one:"",
        one_two:""      
    }       
  };
  },
  methods: {        //抓的到submit按鈕 //
    submit() {
        console.log(this.formdata);
  },
  }
};






</script>


<style scoped>
    p.end_word{
        text-align: center;
        font-size: 25px;
        background:chocolate;
        color: aliceblue;
    }

  


</style>